<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name='description' content="{{ site.description }}">
    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="icon" type="image/png" href="/assets/images/logos/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/assets/images/logos/favicon.svg" />
    <link rel="shortcut icon" href="/assets/images/logos/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/logos/apple-touch-icon.png" />
    <link rel="manifest" href="/assets/images/logos/site.webmanifest" />

    <link rel="stylesheet" href="/assets/css/brands.css"/>
    <link rel="stylesheet" href="/assets/css/glightbox.css"/>
    <link rel="stylesheet" href="/assets/css/reset.css"/>
    <link rel="stylesheet" href="/assets/css/global.css"/>
    <link rel="stylesheet" href="/assets/css/CUBE.css"/>
    <link rel="stylesheet" href="/assets/css/semantics.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Philosopher:wght@400;700&display=swap" rel="stylesheet">


    {{ if prod === "build" }}
      <title>BR | {{ title }}</title>
    {{ else }}
      <title>11ty | {{ title }}</title>
    {{ /if }}
  </head>

  <body>
    {{ include "../partials/menus.vto" }}

    {{ content }}

    {{ include "../partials/footer.vto" }}

    <script type="text/javascript" src="/assets/js/glightbox.js"></script>

    <script type="text/javascript">
      const lightbox = GLightbox({ });
    </script>

  </body>

</html>