/*
Blocks from CUBE CSS
A block is a skeletal component or organizational structure.
*/

/*
Navigation
*/

nav {
  display: flex;
  align-items: center;

  ul {
    justify-content: flex-end;
  }

  .nav-list {
    justify-content: flex-end;
    font-size: var(--text-lg);
  }
}

.nav-list {
  display: flex;

  align-items: center;
  justify-content: center;
  font-family: var(--font-title);
  width: 100%;
  font-size: var(--text-m);

  li {
    list-style: none;
    display: inline-block;
    padding-left: var(--space-m);
  }

  a {
    text-decoration: none;
  }
}

/*
Image Cards
*/

.galleryCover img {
  border-radius: var(--space-m);
}

.galleries {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: var(--space-m);
  place-content: center;
  margin-top: var(--space-m);
  border: 1px solid var(--color-gray-80);
  border-radius: var(--space-m);

  figure {
    padding: var(--space-s);
    text-align: center;
  }

  figcaption {
    font-family: var(--font-title);
    font-size: var(--text-m);
    margin-top: var(--space-3xs);
  }
}