{{ set now = new Date() }}

<footer>
  <ul>
    <li>
      <a href="https://www.flickr.com/photos/bobrocke/" title="Bob on Flickr" target="_blank"><i class="fa-brands fa-flickr"></i></a>
    </li>
    <li>
      <a href="https://500px.com/p/BobRockefeller?view=photos" title="Bob on 500px" target="_blank"><i class="fa-brands fa-500px"></i></a>
    </li>
  </ul>

  <div>
    &copy;{{ now.getFullYear() }} All Rights Reserved.
  </div>

</footer>